body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
}

.auth-container {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #4F46E5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4338CA;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #4F46E5;
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  text-align: left;
}

.main {
  margin-left: 240px;
  padding: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  margin-top: 15px;
}
